<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="VeryGoodProxyUrl" value="http://[user]:[password]@[tenant].live.verygoodproxy.com:8080" />
    <add key="VeryGoodProxyCertificate" value="Download from Very Good Security web portal..." />
  </appSettings>
</configuration>