<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- Get these from the VGS web dashboard -->
      <add key="VeryGoodProxyUrl" value="http://xxx:yyy@ttt.live.verygoodproxy.com:8080" />
      <add key="VeryGoodProxyCertificate" value="" />
    </appSettings>
</configuration>